body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

h1 {
  text-align: center;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-form input,
.task-form select,
.filter select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-form button {
  background: #ff0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 8px;
  background: #f9f9f9;
}

.task-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-grow: 1;
  gap: 8px;
}

.task-item p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 0;
}

.category {
  font-size: 14px;
  color: #666;
  margin-top: 2px;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red;
}

.filter {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: rgb(21, 0, 255);
  padding: 5px;
}
